# コピー: cp .env.example .env
WP_APP_POST_ID=
WP_APP_PAGE_URL=https://apps.tomippe.jp/gradatone/
ASC_APP_ID=
BUNDLE_ID=jp.tomippe.gradatone
WP_POLICY_POST_ID=
WP_POLICY_PAGE_URL=https://apps.tomippe.jp/gradatone/policy/
